.header
{
    background-color: cornflowerblue;
    max-width: 600px;
    text-align: center;
    margin: auto auto 15px auto;
    padding: 10px;
}

.header a
{
    padding: 10px;
    color: rgb(255, 251, 233);;
    font-size: large;
    text-transform: capitalize; /*Removes underlines*/
    text-decoration: none;
}

.header a:hover /*Swaps the text and background colors*/
{
    color: cornflowerblue;
    background-color: rgb(255, 251, 233);;
}

.wrapper
{
    /*Lets content adjust to screen while giving header and footer some room*/
    min-width: 600px;
    max-width: 1200px;
    margin: 10px auto; 
    padding: 10px 30px 10px 30px;

    background-color: rgb(248, 236, 188);
    color: #444444; /*Black was too harsh against background coloring*/

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body /*Base color should help highlight actual content*/
{
    background-color: rgb(255, 251, 233);
}

.footer /*Standard small and italic footnotes look*/
{
    font-style: italic;
    font-size: smaller;
    text-align: center;
    max-width: 600px;
    margin: 15px auto auto auto;
}

img /*Each image should look like a photo print*/
{
    border: 8pt white solid;
}

h1, hr /*Titles and content breaks should stand out against background*/
{
    color: cornflowerblue;
}

.grid_3 /*Each article should stand out from background and each other*/
{
    background-color: cornsilk;
    padding: 10px 0 5px 0;
    margin: 0 0 10px 0;
}